@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.navbar {
  height: $nav-height;
}

.hamburger {
  position: relative;
  width: 36px;
  height: 26px;
  font-family: "Outfit bold";
  text-transform: uppercase;

  > * {
    position: absolute;
    display: block;
    left: 0;
    height: 4px;
    min-height: 4px;
    max-height: 4px;
    width: 100%;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in 0.1s, opacity 0.1s ease-in 0.1s, color 1s;
    &:before {
      content: "";
      display: block;
      background-color: currentColor;
      width: 100%;
      height: 100%;
      transition: transform 0.1s ease-in;
    }
    &:nth-child(1) {
      top: 0;
      width: 70%;
      margin-left: 30%;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
}

.open .hamburger {
  > * {
    transition: 0.1s ease-in;
    &:before {
      transition: transform 0.1s ease-in 0.1s;
    }

    &:nth-child(1) {
      transform: translateY(13px);
      opacity: 0;

      &:before {
        transform: rotate(45deg);
      }
    }
    &:nth-child(2) {
      &:before {
        transform: rotate(45deg);
      }
    }
    &:nth-child(3) {
      transform: translateY(-13px);
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

.background {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in 0.6s;
  opacity: 0;
}

.open .background {
  transition: transform 0.4s ease-in;
  transform: none;
  background-color: $primary;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  list-style: none;
  opacity: 0;
  transform: translateY(1rem);
}

.open .item {
  opacity: 1;
  pointer-events: auto;
  z-index: 9;
  transform: none;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transition: all 0.2s ease-in ($i * 0.1s + 0.3);
    }
  }
}
