$primary: #7207bf;
$secondary: #0e46e1;
$tertiary: #ffcb77;
$light: #fef9ef;
$dark: #363636;

$colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  light: $light,
  dark: $dark,
);

@each $colorname, $color in $colors {
  .bg-#{$colorname} {
    background: $color;
  }
  .text-#{$colorname} {
    color: $color;
  }

  .b-#{$colorname} {
    border-color: $color;
  }
}
